/* You can add global styles to this file, and also import other style files */

.card{
  min-height: 100%;
  padding: 40px;
  position: absolute;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}
.card h1, h5{
  color: #ffff;
}
.h3-white{
  color: #ffff;
}
.title{
    margin-bottom: 50px;
}
.input{
    margin-top: 50px;
}
label{
    color: #ffff;
}
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/* //variables */

html, body {
  margin-top: 100cm;
  background: #28254C !important;
  font-family: 'Ubuntu';
}
